<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CucumberFullSuite" parallel="false">

    <!-- Smoke Tests -->
    <test name="Smoke Tests">
        <parameter name="cucumber.filter.tags" value="@Smoke"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>

    <!-- Regression Tests -->
    <test name="Regression Tests">
        <parameter name="cucumber.filter.tags" value="@Regression"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>

</suite>
